receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  otlphttp/jaeger:
    endpoint: http://jaeger:4318

processors:
  batch: {}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/jaeger]

